{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="container">
        <h1 class="text-center mt-3">Bienvenue ✅</h1>
        <div class="row-flex">
            <h3 class="text-center m-4">Voici une liste des articles les plus récents !</h3>
            {% for article in articles %}
                <div class="text-center row mt-3">
                    <h4 class="text-center m-4">{{ article.title }}</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-sm">
                        <p class="float-left mr-3">{{ article.user.firstname ~' ' ~ article.user.lastname }} </p>
                        <p class="float-left mr-3">{{ article.category.name }} </p>
                        <p class="float-left">{{ article.CreatedAt |date("d/m/Y") }}</p>
                        <div class="text-center mb-4">
                            <img style="max-width: 15rem;" src="{{ article.picture }}">
                        </div>
                        <blockquote class="blockquote text-center">
                            {{ article.content|u.truncate(250,"...") }}
                        </blockquote>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
