{% extends 'menuNavigationAdmin.html.twig' %}
{% block body %}

            <div class="col-8  mt-3 mb-3 text-center">
                <h3 class="mt-2 text-white">Vos derniers articles</h3>
                {{ form_start(form) }}
                {{ form_label(form.title,"Titre") }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control','style':'margin :10px 0 10px 0'}}) }}
                {{ form_label(form.summary,"Sommaire") }}
                {{ form_widget(form.summary, {'attr': {'class': 'form-control','style':'margin :10px 0 10px 0'}}) }}
                {{ form_label(form.content,"Contenu") }}
                {{ form_widget(form.content, {'attr': {'class': 'form-control','style':'margin :10px 0 10px 0'}}) }}
                {{ form_label(form.picture,"Url de l'image") }}
                {{ form_widget(form.picture, {'attr': {'class': 'form-control','style':'margin :10px 0 10px 0'}}) }}
                {{ form_label(form.category,"Categorie") }}
                {{ form_widget(form.category, {'attr': {'class': 'form-control','style':'margin :10px 0 10px 0'}}) }}
                <button class="btn btn-lg btn-primary text-center mt-3 mb-5 w-25" type="submit">Modifier</button>
                {{ form_end(form) }}
                <a class="text-info" href="{{ path('article_delete',{'slug':article.id}) }}">Supprimer</a>
            </div>
{% endblock %}
