{% extends 'menuNavigationAdmin.html.twig' %}

{% block body %}
            <div class="col-8  mt-3 mb-3 text-white text-center">
                <h3 class="mt-2 text-white">Vos derniers articles</h3>
                {% for article in MesArticles %}
                    <div class="bg-dark p-3 m-3">
                        <div class="text-center row mt-3">
                            <h4 class="text-center m-4 text-white">{{ article.title }}</h4>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm">
                                <p class="float-left mr-3">{{ article.user.firstname ~' ' ~ article.user.lastname }} </p>
                                <p class="float-left mr-3">{{ article.category.name }} </p>
                                <p class="float-left">{{ article.CreatedAt |date("d/m/Y") }}</p>
                                <br><br>
                                <blockquote class="blockquote text-center">
                                    {{ article.content|u.truncate(250) }}
                                    <a class="text-info" href="{{ path('article_show',{'slug':article.id}) }}"> ... Lire
                                        la suite</a>
                                </blockquote>
                                <a class="text-info" href="{{ path('article_modify',{'slug':article.id}) }}">Modifier</a>
                                <a class="text-info" href="{{ path('article_delete',{'slug':article.id}) }}">Supprimer</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
{% endblock %}
