{% extends 'menuNavigationAdmin.html.twig' %}

{% block body %}
            <div class="col-8  mt-3 mb-3 text-white text-center">
                <h3 class="mt-2">Gestion des commentaires</h3>
                {% for coms in commentaires %}
                <form action="{{ path('validationCom') }}" method="post">
                    <div class="bg-dark p-3 m-3">
                        <div class="text-center row mt-3">
                            <h4 class="text-center m-4 text-white">{{ coms.article.title }}</h4>
                            <h5 class="text-center m-4"><a class=" text-white"
                                                           href="{{ path('article_show',{'slug':coms.article.id}) }}">Voir
                                    l'article</a></h5>
                        </div>


                        <div class="row mt-3">
                            <div class="col-sm">
                                <p class="float-left mr-3">{{ coms.user.pseudo }} </p>
                                <p class="float-left mr-3">{{ coms.date |date("d/m/Y") }} </p>
                                <p class="float-left">{{ coms.state }}</p>
                                <br><br>
                                <blockquote class="blockquote text-center">
                                    {{ coms.content }}
                                </blockquote>
                            </div>
                        </div>
                        <label for="{{ coms.id }}">Valider</label>
                        <input class="mr-5" type='checkbox' name='com_validated[]' value='{{ coms.id }}'/>

                        <label for="{{ coms.id }}">Refuser</label>
                        <input type='checkbox' name='com_refused[]' value='{{ coms.id }}'/>
                    </div>

                    {% endfor %}
                    <button class="btn btn-lg btn-primary text-center mt-3 mb-5" type="submit"> valider les articles
                    </button>
                </form>
                <div class="text-center row mt-3">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"
                         style="width: fit-content; margin-left: auto;margin-right: auto;">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            {% if pagination > 10 %}
                                {% for i in 1..5 %}
                                    <a href="{{ path('GestionComs',{'page': i}) }}">
                                        <button type="button" class="btn btn-secondary">{{ i }}</button>
                                    </a>
                                {% endfor %}
                                <button type="button" class="btn btn-secondary">...</button>
                                {% for i in pagination-4..pagination %}
                                    <a href="{{ path('GestionComs',{'page': i}) }}">
                                        <button type="button" class="btn btn-secondary">{{ i }}</button>
                                    </a>
                                {% endfor %}
                            {% else %}
                                {% for i in 1..pagination %}
                                    <a href="{{ path('GestionComs',{'page': i}) }}">
                                        <button type="button" class="btn btn-secondary">{{ i }}</button>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}